body {
  background: palevioletred;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  margin: -80px -30px;
}
h1 {
  font-family: "Exo 2", serif;
}
h2 {
  font-family: "Exo 2", serif;
}
p {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  text-align: left;
}
a {
  color: rgb(63, 63, 63);
}
a:hover {
  color: rgb(139, 139, 139);
}
footer {
  border-top: 1px solid rgb(203, 203, 203);
  padding: 20px;
  text-align: center;
  color: rgb(30, 32, 68);
}
.weather-app {
  background: white;
  width: 400px;
  display: block;
  margin: 50px auto;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 0px 15px rgb(190, 166, 177);
}
.submit {
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: white;
  background: rgb(57, 92, 190);
  position: relative;
  top: 19px;
  cursor: pointer;
}
.submit:hover {
  background: rgb(162, 98, 139);
}
.search {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 15px;
  background: rgb(213, 213, 255);
  width: 300px;
  position: relative;
  right: 5px;
  top: 20px;
}
.main-weather-app-info {
  margin: 50px 0px;
  border-top: 1px solid rgb(217, 217, 217);
  margin-top: 70px;
}
.city-name {
  font-size: 36px;
  position: relative;
  right: 5px;
}
.country-name {
  font-size: 25px;
  position: relative;
  right: 5px;
  top: -30px;
  font-weight: normal;
}
.city-app-details {
  font-size: 15px;
  color: rgb(59, 83, 124);
  line-height: 25px;
  position: relative;
  top: -20px;
  right: 5px;
}
.city-app-details strong {
  color: palevioletred;
}
.currentTemperature {
  font-size: 75px;
  font-family: "Gill Sans";
  font-weight: bold;
  position: relative;
  left: 290px;
  bottom: 180px;
}
.current-icon {
  font-size: 36px;
  position: relative;
  left: 290px;
  bottom: 185px;
}
.current-cells {
  font-size: 22px;
  position: relative;
  left: 290px;
  bottom: 215px;
}
.daily-information {
  margin: -50px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}
