body {
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-family: "Exo 2", serif;
}
h2 {
  font-family: "Exo 2", serif;
}
p {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  text-align: left;
}
a {
  color: rgb(57, 92, 190);
}
a:hover {
  color: rgb(139, 139, 139);
}
footer {
  border-top: 1px solid rgb(203, 203, 203);
  padding: 30px;
  text-align: center;
  color: rgb(136, 136, 136);
}
.weather-app {
  background: linear-gradient(
    178.6deg,
    rgb(231, 242, 250) 3.3%,
    rgb(174, 233, 253) 109.6%
  );
  width: 420px;
  display: block;
  padding: 2%;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 0px 15px rgb(190, 166, 177);
}
.submit {
  border-radius: 50px;
  border: 1px dashed darkblue;
  padding: 7px;
  color: white;
  background: rgb(57, 92, 190);
  position: relative;
  top: 19px;
  left: 70px;
  cursor: pointer;
  margin-top: 20px;
}
.submit:hover {
  background: rgb(162, 98, 139);
}
.search {
  border-radius: 20px;
  border: none;
  font-size: 15px;
  padding: 10px;
  background: rgb(213, 213, 255);
  width: 210px;
  position: relative;
  top: 20px;
  left: 70px;
}
.main-weather-app-info {
  margin: 50px 0;
  border-top: 1px solid rgb(217, 217, 217);
}
.city-name {
  font-size: 36px;
  position: relative;
  left: 5px;
  top: 50px;
}
.country-name {
  font-size: 22px;
  position: relative;
  left: 5px;
  top: 20px;
  font-weight: normal;
}
.city-app-details {
  font-size: 15px;
  color: rgb(59, 83, 124);
  line-height: 25px;
  position: relative;
  top: 30px;
  right: 0px;
}
.city-app-details strong {
  color: rgb(57, 92, 190);
}
.main-weather-app-info {
  margin: 50px 0;
  border-top: 1px solid rgb(217, 217, 217);
}
.currentTemperature {
  font-size: 55px;
  font-family: "Gill Sans";
  font-weight: bold;
  position: relative;
  left: 365px;
  bottom: 200px;
}
.weather-app-icon {
  position: relative;
  left: 150px;
  bottom: 63px;
  width: 80px;
  height: 80px;
}
.current-cells {
  font-size: 22px;
  position: relative;
  left: 365px;
  bottom: 220px;
}
.daily-information {
  margin: -70px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}
